* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #f9f9f9;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #2194f9;
}

li {
  list-style: none;
}

.container {
  max-width: 1140px;
  padding: 0 30px;
  width: 100%;
  margin: 0 auto;
}

.container-f {
  padding: 0 30px;
  width: 100%;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.form-group {
  margin: 10px 0;
}

form input {
  display: block;
  border: none;
  outline: none;
  border: 1px solid #e0e0e0;
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px 0;
  font-size: 17px;
}

form input:focus,
form input:valid {
  border: 1px solid #0029ff;
}

form label {
  color: #636b99;
}

.btn-b {
  display: block;
  width: 100%;
  padding: 10px 20px;
  width: 100%;
  border: none;
  outline: none;
  background-color: #0029ff;
  border-radius: 5px;
  color: #ffff;
  font-size: 17px;
  margin: 15px 0;
  cursor: pointer;
}

header {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffff;
  height: 75px;
  width: 100%;
}

header .menu-bar {
  display: none;
}

header .flex {
  justify-content: space-between;
}

header .search-form {
  border: 1px solid #f6f6f6;
  border-radius: 50px;
  overflow: hidden;
  height: 40px;
  background-color: #f9f9f9;
  margin: 0 2rem;
}
header .search-form input {
  display: inline !important;
  border: none;
  outline: none;
  height: 100%;
  padding: 0 15px;
  font-size: 17px;
  margin: 0;
  background-color: transparent;
}
header .search-form button {
  display: inline !important;
  border: none;
  outline: none;
  height: 100%;
  width: 70px;
  background-color: #0029ff;
  border-radius: 50px;
  color: #ffff;
  font-size: 18px;
  cursor: pointer;
}

header ul li {
  margin: 8px;
}
header ul a {
  display: block;
  padding: 10px 20px;
  color: #4f557a;
  border-radius: 8px;
  white-space: nowrap;
}
header ul a.signin {
  padding: 10px 15px;
}
header ul a.signup {
  background-color: #0029ff;
  color: #ffff;
  font-weight: 700;
}
header ul a.cart {
  position: relative;
}
header ul a.cart i {
  margin-right: 10px;
}
header ul a.cart span {
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: #ff6825;
  color: #ffff;
  font-weight: 700;
  border-radius: 50%;
  text-align: center;
  top: 2px;
  left: 30px;
}
header ul a.logout {
  background-color: #ff6825;
  color: #ffff;
}
header ul a i {
  margin-right: 4px;
}

.products {
  margin: 2rem 0;
}
.products .container > h2 {
  margin: 2rem 0;
  font-size: 35px;
  color: #636b99;
  font-weight: 500;
}
.products .grid {
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.products .card {
  max-width: 300px;
  border-radius: 10px;
  background-color: #fff;
  height: auto;
  overflow: hidden;
}
.products .card .card-img {
  max-height: 180px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}
.products .card .card-img img {
  height: 100%;
}
.products .card .card-body {
  padding: 10px 15px;
}
.products .card .card-body h1 {
  font-size: 20px;
  color: #636b99;
  margin: 5px 0;
}
.products .card .card-body .rate {
  display: flex;
  color: #ff6825;
}
.products .card .card-body p {
  font-size: 17px;
  margin: 5px 0;
  color: #676767;
  font-weight: 500;
}
.products .card .card-body form {
  margin: 5px 0;
}
.products .card .card-body .order-btn {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 8px 15px;
  display: inline-block;
  background-color: #0029ff;
  border-radius: 5px;
  color: #ffff;
}

.login .container-f {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #ffff;
}
.login .container-f > div {
  max-width: 400px;
  width: 100%;
  padding: 2rem;
  border-radius: 10px;
  background-color: #ffff;
}
.login .container-f > div h1 {
  color: #636b99;
  text-align: center;
}
.login .container-f > div p {
  color: #676767;
  margin: 15px 0;
}
.login .container-f > div .divider .line {
  background-color: #cdcdcd;
  height: 2px;
  width: 60px;
}
.login .container-f > div .divider span {
  color: #676767;
  margin: 0 10px;
}
.login .container-f > div .social-login a.google {
  background-color: #f14a00;
  margin-right: 10px;
  width: auto;
  white-space: nowrap;
}
.login .container-f > div .social-login a.github {
  background-color: #454b6b;
  width: auto;
  white-space: nowrap;
}

.search {
  margin: 2rem 0;
}
.search .card {
  background-color: #ffff;
  border-radius: 10px;
  overflow: hidden;
  margin: 1rem 0;
  height: 100%;
}
.search .card.flex {
  height: 200px;
}
.search .grid {
  grid-template-columns: repeat(2, 1fr);
}
.search h1 {
  color: #636b99;
}
.search .rate {
  color: #ff6825;
  margin: 8px 0;
}
.search .card-img {
  width: 300px;
  position: relative;
  height: 100%;
  overflow: hidden;
  background-color: #e0e0e0;
  border-radius: 10px;
  align-self: flex-start;
}
.search .card-img img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  object-fit: cover;
}
.search .card-body {
  margin-left: auto;
  padding: 1rem;
  align-items: flex-start;
}

.cart_sec {
  margin: 2rem 0;
}
.cart_sec .container > h1 {
  margin: 1rem 0;
  color: #636b99;
}
.cart_sec .container > h4 {
  color: #676767;
}
.cart_sec .container > .flex {
  justify-content: space-between;
  align-items: flex-start;
}
.cart_sec .cart {
  width: 50%;
}
.cart_sec .cart-item {
  margin: 10px 0;
  background-color: #ffff;
  border-radius: 10px;
  overflow: hidden;
  max-height: 150px;
  height: 100%;
}
.cart_sec .cart-item.flex {
  justify-content: space-between;
}
.cart_sec .cart-item .cart-img {
  width: 200px;
  height: 150px;
}
.cart_sec .cart-item .cart-img img {
  height: 100%;
  object-fit: cover;
}
.cart_sec .cart-item h1 {
  color: #676767;
  font-weight: 400;
}
.cart_sec .cart-item .price {
  color: #636b99;
  font-weight: 700;
  margin: 10px 0;
}
.cart_sec .cart-item .remove-cart {
  background-color: #ff6825;
  color: #ffff;
  padding: 8px 15px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
}
.cart_sec .cart-item .remove-cart i {
  margin-right: 5px;
}
.cart_sec .cart-item .qty {
  margin-right: 1rem;
}
.cart_sec .cart-item .qty button {
  border: none;
  color: #ffff;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
}
.cart_sec .cart-item .qty span {
  display: inline-block;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  color: #ffff;
  border-radius: 50%;
  background-color: #636b99;
}
.cart_sec .cart-item .qty .plus {
  background-color: #0029ff;
}
.cart_sec .cart-item .qty .minus {
  background-color: #ff6825;
}
.cart_sec .checkout .card {
  background-color: #ffff;
  border-radius: 10px;
  overflow: hidden;
  padding: 2rem;
  width: 300px;
}
.cart_sec .checkout .card h1 {
  color: #636b99;
  margin: 10px 0;
}
.cart_sec .checkout .card .delivery {
  margin: 16px 0;
  color: #676767;
}
.cart_sec .checkout .card .delivery span {
  color: #06dd06;
}
.cart_sec .checkout .card .price {
  color: #676767;
}
.cart_sec .checkout .card .price span {
  color: #636b99;
  font-weight: 700;
}
.cart_sec .checkout .card .btn {
  padding: 10px 20px;
  background-color: #0029ff;
  color: #ffff;
  display: block;
  width: 100%;
  border-radius: 5px;
  margin: 10px 0;
  text-align: center;
}

.login.payment .container-f {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  background-color: #f9f9f9;
}
.login.payment h2 {
  color: #676767;
}
.login.payment form {
  max-width: 300px;
  border-radius: 10px;
  border: 1px solid white;
  margin: 1rem 0;
}
.login.payment form button {
  display: block;
  padding: 10px 18px;
  border-radius: 5px;
  margin: 5px 0;
  border: none;
  outline: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}
.login.payment form button.cash {
  background-color: #ff6825;
  color: #ffff;
}
.login.payment form span {
  color: red;
  font-size: 11px;
}
.login.payment form a {
  display: block;
  padding: 10px 18px;
  border-radius: 5px;
  margin: 5px 0;
}
.login.payment form a.cash {
  background-color: #ff6825;
  color: #ffff;
}
.login.payment form a.paypal {
  background-color: #0029ff;
  color: #ffff;
}
.login.payment form a.paypal:hover {
  cursor: not-allowed;
}
.login.payment form a.cbe {
  background-color: #454b6b;
  color: gold;
}
.login.payment form a.cbe:hover {
  cursor: not-allowed;
}

.order_sec {
  margin: 1rem 0;
}
.order_sec .container > h1 {
  color: #676767;
  margin: 1rem 0;
}
.order_sec table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.05);
}
.order_sec tr {
  background-color: #ffff;
}
.order_sec th {
  background-color: #0029ff;
  color: #ffff;
}
.order_sec th,
.order_sec td {
  text-align: left;
  padding: 16px;
}
.order_sec td {
  color: #676767;
  font-weight: 400;
  border-bottom: 1px solid #e6e6e6;
}
.order_sec .status {
  color: #06dd06;
}

header {
  position: relative;
}
header .search-form.mobile input {
  display: none;
}

@media (max-width: 1000px) {
  header .menu-bar {
    display: block;
  }

  .nav {
    position: absolute;
    padding: 8px 15px;
    flex-direction: column;
    background: transparent;
    height: auto;
    width: auto;
    border-radius: 10px;
    z-index: 20;
    top: 50px;
    opacity: 0;
    visibility: hidden;
    left: 17px;
    box-shadow: 0 0 15px 8px rgba(0, 0, 0, 0.07);
  }
  .nav li {
    margin: 5px 0;
    z-index: 25;
    display: block;
    width: 100%;
  }
  .nav li a.signin,
.nav li a.logout,
.nav li a.signup {
    display: inline-block;
    margin-left: 1.2rem;
  }
  .nav::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 21;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(15px);
    border-radius: 10px;
  }
  .nav::after {
    position: absolute;
    content: "";
    top: -5px;
    left: 10px;
    width: 30px;
    height: 30px;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(30px);
    transform: rotate(-45deg);
  }
  .nav.active {
    top: 75px;
    opacity: 1;
    visibility: visible;
  }

  .products .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 824px) {
  .cart_sec .container > .flex {
    flex-direction: column;
    align-items: center;
  }
  .cart_sec .container > .flex .cart {
    width: 100%;
  }
}
@media (max-width: 610px) {
  .search-form {
    display: none;
  }
  .search-form input {
    display: none !important;
  }

  .products .grid {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
  }
  .products .grid .card {
    margin: auto;
  }
}

/*# sourceMappingURL=style.css.map */
