.cart_sec {
  margin: 2rem 0;

  .container > h1 {
    margin: 1rem 0;
    color: $blue-black-color;
  }

  .container > .flex {
    justify-content: space-between;
    align-items: flex-start;
  }

  .cart {
    width: 70%;
  }

  .cart-item {
    margin: 10px 0;
    background-color: $white-color;
    border-radius: 10px;
    overflow: hidden;
    max-height: 90px;

    &.flex {
      justify-content: space-between;
    }

    .cart-img {
      width: 150px;
    }

    h1 {
      color: $black-color;
      font-weight: 400;
    }

    .price {
      color: $blue-black-color;
      font-weight: 700;
    }

    .qty {
      margin-right: 1rem;

      button {
        border: none;
        color: $white-color;
        padding: 5px 8px;
        border-radius: 5px;
        cursor: pointer;
      }

      span {
        font-weight: 700;
        margin: 0 10px;
      }

      .plus {
        background-color: $primary-color;
      }

      .minus {
        background-color: $secondary-color;
      }
    }
  }

  .checkout {
    .card {
      background-color: $white-color;
      border-radius: 10px;
      overflow: hidden;
      padding: 2rem;
      width: 300px;

      h1 {
        color: $blue-black-color;
        margin: 10px 0;
      }

      .delivery {
        margin: 16px 0;
        color: $black-color;

        span {
          color: $success-color;
        }
      }

      .price {
        color: $black-color;

        span {
          color: $blue-black-color;
          font-weight: 700;
        }
      }

      .btn {
        padding: 10px 20px;
        background-color: $primary-color;
        color: $white-color;
        display: block;
        width: 100%;
        border-radius: 5px;
        margin: 10px 0;
        text-align: center;
      }
    }
  }
}
