.cart_sec {
  margin: 2rem 0;

  .container > h1 {
    margin: 1rem 0;
    color: $blue-black-color;
  }

  .container > h4 {
    color: $black-color;
  }

  .container > .flex {
    justify-content: space-between;
    align-items: flex-start;
  }

  .cart {
    width: 50%;
  }

  .cart-item {
    margin: 10px 0;
    background-color: $white-color;
    border-radius: 10px;
    overflow: hidden;
    max-height: 150px;
    height: 100%;

    &.flex {
      justify-content: space-between;
    }

    .cart-img {
      width: 200px;
      height: 150px;

      img {
        height: 100%;
        object-fit: cover;
      }
    }

    h1 {
      color: $black-color;
      font-weight: 400;
    }

    .price {
      color: $blue-black-color;
      font-weight: 700;
      margin: 10px 0;
    }

    .remove-cart {
      background-color: $secondary-color;
      color: $white-color;
      padding: 8px 15px;
      border-radius: 5px;
      display: inline-block;
      border: none;
      outline: none;
      cursor: pointer;

      i {
        margin-right: 5px;
      }
    }

    .qty {
      margin-right: 1rem;

      button {
        border: none;
        color: $white-color;
        padding: 5px 8px;
        border-radius: 5px;
        cursor: pointer;
      }

      span {
        display: inline-block;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 700;
        color: $white-color;
        border-radius: 50%;
        background-color: $blue-black-color;
      }

      .plus {
        background-color: $primary-color;
      }

      .minus {
        background-color: $secondary-color;
      }
    }
  }

  .checkout {
    .card {
      background-color: $white-color;
      border-radius: 10px;
      overflow: hidden;
      padding: 2rem;
      width: 300px;

      h1 {
        color: $blue-black-color;
        margin: 10px 0;
      }

      .delivery {
        margin: 16px 0;
        color: $black-color;

        span {
          color: $success-color;
        }
      }

      .price {
        color: $black-color;

        span {
          color: $blue-black-color;
          font-weight: 700;
        }
      }

      .btn {
        padding: 10px 20px;
        background-color: $primary-color;
        color: $white-color;
        display: block;
        width: 100%;
        border-radius: 5px;
        margin: 10px 0;
        text-align: center;
      }
    }
  }
}
