.login.payment {
  .container-f {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    background-color: $light-color;
  }

  h2 {
    color: $black-color;
  }

  form {
    max-width: 300px;
    border-radius: 10px;
    border: 1px solid lighten($black-color, 60%);
    margin: 1rem 0;
    a {
      display: block;
      padding: 10px 18px;
      border-radius: 5px;
      margin: 5px 0;

      &.cash {
        background-color: $secondary-color;
        color: $white-color;
      }

      &.paypal {
        background-color: $primary-color;
        color: $white-color;

        &:hover {
          cursor: not-allowed;
        }
      }

      &.cbe {
        background-color: darken($blue-black-color, 15%);
        color: gold;
      }
    }
  }
}
